{%extends 'base.html'%} {%load static%} {%block content%}
<div style="height: 85vh; padding: 20px">
  <h1 style="text-align: center; margin: 20px">About Us</h1>
  <div style="width: 90%; margin: 0 auto">
    <p>
      Welcome to ShopBook, your go-to destination for a world of books! Whether
      you're a fan of fictional adventures, scientific discoveries, captivating
      comics, or epic fantasy tales, we have something for every reader. Our
      carefully curated collection features titles from diverse genres, ensuring
      that no matter your interests, you'll find a story that sparks your
      imagination and curiosity. We strive to bring readers the most exciting,
      thought-provoking, and entertaining books from both established authors
      and rising stars.
    </p>

    <p>
      At ShopBook, we believe that books are a gateway to new worlds and endless
      possibilities. We are passionate about providing high-quality literature
      that inspires creativity, fuels knowledge, and offers an escape into
      extraordinary universes. From the latest bestsellers to hidden gems, our
      selection is designed to cater to readers of all ages and preferences.
      Whether you're exploring new ideas in science or escaping into a
      fantastical realm, we aim to provide a diverse range of books that can
      transform your reading experience.
    </p>

    <p>
      Our mission is simple: to make reading accessible, enjoyable, and
      rewarding for everyone. We offer a seamless online shopping experience
      with fast shipping and excellent customer service. Our team is committed
      to helping you find your next great read, and we're always excited to
      share the joy of reading with our community. Thank you for choosing
      ShopBook - we can't wait to be a part of your reading journey!
    </p>
  </div>
</div>
{%endblock%}
