{% extends 'base.html' %} {%block content%}
<!-- <header class="bg-dark py-5">
  <div class="container px-4 px-lg-5 my-5">
    <div class="text-center text-white">
      <h1 class="display-4 fw-bolder">Login</h1>
      <p class="lead fw-normal text-white-50 mb-0">Login to your account</p>
    </div>
  </div>
</header> -->

<div id="login-form">
  <form method="POST" action="{% url 'login' %}">
    {%csrf_token%}
    <h3>Login</h3>

    <input type="text" name="username" placeholder="Enter username" />
    <input type="password" name="password" placeholder="Enter password" />
    <input type="submit" value="Login" />
  </form>
</div>

<div class="dummy-login-page"></div>

{%endblock%}
