{%extends 'base.html'%} {%load static%} {%block content%}
<div>
  <div id="login-form">
    <form method="POST" action="{% url 'update_user' %}">
      {%csrf_token%}
      <h3>Update user profile</h3>

      <input type="text" name="username" placeholder="Enter username" />
      <input type="email" name="email-id" placeholder="Enter email id" />
      <input type="text" name="first-name" placeholder="Enter first name" />
      <input type="text" name="last-name" placeholder="Enter last name" />
      <input type="password" name="password1" placeholder="Enter password" />
      <input
        type="password"
        name="password2"
        placeholder="Enter password again"
      />
      <input type="submit" value="Register" />
    </form>
  </div>
</div>
{%endblock%}
